<html>
<head>
    <meta charset="utf-8" />
    <title>Pundit - Fusepool demo page</title>
    <style type="text/css">
        body{
            background: #404F59;
            color:#000;
            font-family: helvetica, arial, sans-serif;
        }
        div{
            padding: 10px 10px 10px 30px;

            background: #EFDF1B;
            color: #404F59;
            font-weight: bold;
        }
        textarea{
            width:600px;
            height:250px;
            display: block;
            margin-bottom: 10px;
        }
        div.logo{
            padding:50px 50px 50px 30px;
        }


    </style>
</head>
<body>
<div class="logo">
    <img src="https://raw.githubusercontent.com/fusepoolP3/platform/master/backends/marmotta/dashboard/src/main/resources/web/public/images/fusepool.png"/>
</div>
<div>
    <p>{{ message }}</p>

</div>

</body>
</html>
